include ../shared/_buttons

footer
  div
    h2 Signing Off, Good Buddy

    mixin dribbble-button("//dribbble.com/marstoyship")
    mixin linkedin-button("//www.linkedin.com/pub/marissa-epstein/58/5a5/791")
    mixin facebook-button("//www.facebook.com/Mars.Epstein")

