nav.sticky

  span  
    a.link.name(href="/") Marissa Epstein

  a(href="/")
    img(src="/img/logo-white-40.png", alt="Logo", title="Logo") 

  ul
    li.work 
      a.link(href="/#work") My Work
    li.me 
      a.link(href="/about") Me
