include ../_header

.project-casestudy.dinosofts
  mixin header("Dinosofts", "Baby's first fossil: connectable, huggable, prehistoric friends.")

  section.project-section.project-description
    p Dinosofts is a colorful series of nine magnetic plush toys, intended to provide simple foundational educaton for toddlers. Each plush is based loosely on a prehistoric species, subliminally laying the groundwork for more advanced biology as the child reaches school level, while improving hand-eye mechanics in the meantime. At thier simplest form, Dinosofts are meant to be cute, cuddly, friendly, and fun.

  section.project-section.icons
    .project-section-title 
      hr.filligre
      h3 Icons

    img(src="/img/dinosofts-icons.png", alt="Dinosofts Icon System", width="871", height="332")

  section.project-section.logos
    .project-section-title 
      hr.filligre
      h3 Logos

    img(src="/img/dinosofts-logo.png", alt="Dinosofts Logo", width="859", height="107")

  section.project-section.map
    .project-section-title 
      hr.filligre
      h3 Concept Map

    img(src="/img/dinosofts-map.jpg", alt="Dinosofts Process Concept Map", width="961", height="503")

  section.project-section.toys
    .project-section-title 
      hr.filligre
      h3 Toys &amp; Packaging

    img(src="/img/dinosofts-packaging.png", alt="Dinosofts Packaging Stickers", width="846", height="849")
    img(src="/img/dinosofts-toys1.jpg", alt="Two Dinosofts Toys with Packaging", width="960", height="107")
    img(src="/img/dinosofts-toys2.jpg", alt="One Dinosofts Toy with Packaging", width="960", height="107")