include ../_header
include ../../shared/_buttons

.project-casestudy.perfect-pears
  mixin header("Perfect Pears", "Your perfect match for everything wedding.")

  section.project-section.project-description
    p Perfect Pears is an umbrella of tools and services, created by <a href='http://figmints.com/'>Figmints</a>, providing relief for brides. Pictures offers video and photo services, Planner manages your process with an online checklist, and Pages is a speedy wedding website builder. This tall UI/UX order included the architecture and design of all screens for both the Planner and Pages web apps. Not to mention the marketing website and collateral for each of the Pears triplets.
    
    mixin outline-button('145', 'Visit site', 'http://perfectpears.com/')

   section.project-section.planner
    .project-section-title 
      hr.filligre
      h3 Pears Planner

    img.stack(src="/img/perfect-pears-planner-chrome.png", alt="Pears Planner Web App, Checklist", width="964", height="650")
    img(src="/img/perfect-pears-vendors-chrome.png", alt="Pears Planner Web App, Vendor Page", width="964", height="650")
  
  section.project-section.pages
    .project-section-title 
      hr.filligre
      h3 Pears Pages
 
    img.stack(src="/img/perfect-pears-pages-1.png", alt="Pears Pages Web App", width="964", height="650")
    img.stack(src="/img/perfect-pears-pages-2.png", alt="Pears Pages Web App, RSVP Page", width="964", height="650")
    img(src="/img/perfect-pears-pages-3.png", alt="PPears Pages Web App, Admin Dashboard", width="964", height="650")

  section.project-section.marketing
    .project-section-title 
      hr.filligre
      h3 Marketing

    img(src="/img/perfect-pears-pictures-chrome-full.png", alt="Pears Pictures Marketing Website", width="964", height="2409")
    img(src="/img/perfect-pears-pages-chrome.png", alt="Pears Pages Marketing Website", width="964", height="650")
    img.half(src="/img/perfect-pears-planner-iphone.png", alt="Pears Planner Marketing Website, on an iPhone", width="370", height="774")
    img.half(src="/img/perfect-pears-calculator-iphone.png", alt="Pears Pictures Pricing Calculator", width="370", height="774")
    img.white(src="/img/perfect-pears-print-ad-2.png", alt="Pears Pages Postcard", width="960", height="629")
      