include ../_header
include ../_footer

.project-casestudy.remobilize
  mixin header("Remobilize", "Fix your aching body in six weeks.")

  section.project-section.project-description
    p Mike Kelly took his research and experience as a personal trainer to put together an in-depth 6 week remobilizing program. His book, <i>Remobilize</i>, is a detailed walkthrough of that program and expression of his positive, progressive attitude. This project included a branding system of dynamic rings that aligned as you progress, featured within the book design. 

  section.project-section.branding
    .project-section-title 
      hr.filligre
      h3 Branding

    img.stack(src="/img/remobilize-logo.png", alt="Remobilize Branding", width="960", height="300")
    img.stack(src="/img/remobilize_steps.png", alt="Remobilize System", width="960", height="119")

  section.project-section.book
    .project-section-title 
      hr.filligre
      h3 Book Design

    img(src="/img/remobilize-book-cover.png", alt="Remobilize Book Cover Design", width="754", height="878")

  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design

    img.stack(src="/img/remobilize-web.png", alt="Remobilize Website Design", width="964", height="650")

  section.project-section.footer
    .project-section-title
      hr.filligre
    mixin project-nav("../bookscanner", "Bookscanner", "../fruit-salad", "Fruit Salad")