include ../_header

.project-casestudy.passkey
  mixin header("Passkey", "Online Booking Experience")

  section.project-section.project-description
    p The Passkey Online Booking Experience allows event planners to create and customize a booking website, be it hotel-specific or city-wide. The interface design allows for a variety of filters and options, including multiple view options and recommendations, that also extend beyond purchase with the Guest Deck area. A complete architecture and screen design project, done with the Mojotech design team, allowed for an immersive planning experience. 
  
  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web App Design

    img.stack(src="/img/passkey-1-loading.png", alt="Passkey Screen Design, Loading Page", width="964", height="650")
    img.stack(src="/img/passkey-2-landing.png", alt="Passkey Screen Design, Landing Page", width="964", height="650")
    img.stack(src="/img/passkey-3-room.png", alt="Passkey Screen Design, Room Page with Gallery View", width="964", height="650")
    img.stack(src="/img/passkey-4-map.png", alt="Passkey Screen Design, Map View", width="964", height="650")
    img.stack(src="/img/passkey-5-portal.png", alt="Passkey Screen Design, Guest Deck Page", width="964", height="650")