@import '../_settings'
@import '../shared/_fonts'

body
  @extends $whitney-book
  color: black

h1
  @extends $gotham-black
  font-size: 42px

h2
  @extends $gotham-medium
  font-size: 24px

h3
  @extends $gotham-bold
  font-size: 24px
  color: red

h4
  @extends $gotham-bold
  font-size: 21px

