include ../_header
include ../../shared/_buttons
include ../_footer

.project-casestudy.mojotech
  mixin header("Mojotech", "A small tech agency with big ideas.")

  section.project-section.project-description
    p <a href='http://mojotech.com/'>Mojotech</a> is software, design, and development agency with several offices across the US, that has launched more than 150 products for clients. The company was recently recognized as one of the fastest growing software companies in the country. Rewind back to 2011, when Mojotech was little more than a startup, with less than a dozen employees, and no strong brand. As a design team of two, we created a whole new Mojo identity: new branding with multiple logos and the color they are still known for, all company print materials, and the second iteration of their website. The new site told the team's story and capabilities in a professional but still unique tone, and was the stepping stone the company needed to grow. 
 
  section.project-section.branding
    .project-section-title 
      hr.filligre
      h3 Branding

    img.stack(src="/img/mojotech-logo.jpg", alt="Mojotech wordmark and hex logo", width="960", height="217")
    img.stack(src="/img/mojotech-cards.jpg", alt="Mojotech thick, painted business cards", width="960", height="542")
    img.stack(src="/img/mojotech-print.jpg", alt="Mojotech stationery and envelopes with green graphics printed inside", width="960", height="610")    

  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design 

    img.stack(src="/img/mojotech-web-1.jpg", alt="Mojotech website, home page", width="960", height="650")
    img.stack(src="/img/mojotech-web-2.jpg", alt="Mojotech website, services page", width="960", height="650")
    img.stack(src="/img/mojotech-web-3.jpg", alt="Mojotech website, people page", width="960", height="650")

  section.project-section.footer
    .project-section-title
      hr.filligre
    mixin project-nav("../toyship", "Toyship", "../yearup", "Yearup")