section.discovery
  & > div
    group()

    & > div
      size 210 80
      column(4)

  .figmints-icon
    bg '/img/discovery-figmints.png'
    size 50 50

  .labbits-icon
    bg '/img/discovery-toys.png'
    size 206 24

  .adobe-icon
    bg '/img/discovery-cs.png'
    size 130 39

  .daap-icon
    bg '/img/discovery-daap.png'
    size 93 64

  .spotify-icon
    bg '/img/discovery-spotify.png'
    size 41 41

  .rhode-island-icon
    bg '/img/discovery-providence.png'
    size 67 77

  .lead-in
    @extends $whitney-book

  .takeaway
    @extends $gotham-black
