section.discovery
  group()

  // & > div
  //   size 210 80
  //   column(4)

  // .figmints-icon
  //   bg '/img/discovery-figmints.png'
  //   size 50 50

  // .labbits-icon
  //   bg '/img/discovery-toys.png'
  //   size 206 24

  // .adobe-icon
  //   bg '/img/discovery-cs.png'
  //   size 130 39

  // .daap-icon
  //   bg '/img/discovery-daap.png'
  //   size 93 64

  // .spotify-icon
  //   bg '/img/discovery-spotify.png'
  //   size 41 41

  // .rhode-island-icon
  //   bg '/img/discovery-providence.png'
  //   size 67 77

  // .lead-in
  //   @extends $whitney-book

  // .takeaway
  //   @extends $gotham-black

  // img
  //   position: absolute
  // top: 0px
  // bottom: 0px
  // left: 0px
  // right: 0px

  // img
  //   display: inline-block

  // img.hover
  //   position: absolute

  // .figmints .hover
  //   top: 32px
  //   left: 64px

  // .toys .hover
  //   top: 0px
  //   left: 0px

  // .adobe .hover
  //   top: 4px
  //   left: 2px

  // .daap .hover
  //   top: 7px
  //   left: 0px

  // .spotify .hover
  //   top: 5px
  //   left: 0px

  // .providence .hover
  //   top: 0px
  //   left: 0px

  div
    padding-top: 16px
    position: relative

  table.hover
    position: absolute
    top: 16px

    img
      background-color: white
      opacity: 0
      transition-property: opacity
      transition-duration: 200ms

    img:hover
      opacity: 1

  table
    margin: 0 auto
    border-collapse:collapse

    td
      text-align: center
      vertical-align: middle
      width: 320px
      position: relative
      border: 2px solid light-grey

      &:first-child
        border-left: none
      &:last-child
        border-right: none

    tr:first-child td
      padding-top: 10px
      line-height: 130px
      border-top: none

    tr:last-child td
      padding-top: 60px
      line-height: 90px
      border-bottom: none

  button
    float: right
    margin-top: 35px
    margin-bottom: 10px


