
footer
  size 100% 350px
  background: red url('/img/bg-footer.jpg') no-repeat
  background-size: cover
  color: white
  text-align: center

  h2
    padding-top: 72px
    padding-bottom: 72px

.contact
  float: right
  margin-top: -15px

  span
    @extends $whitney-medium
    letter-spacing: 0.025em
    font-size: 22px  
    text-transform: none
    float: right
    clear: both
    text-shadow: 0px 0px 10px rgba(145, 17, 0, 0.5)

  span.email
    padding-bottom: 30px

.social-button
  float: left
  margin-top: 7px
  padding-right: 16px

  cursor: pointer

  stop
    stop-color: #ffffff
    transition-property: stop-color
    transition-duration: 200ms

  &:hover
    zoom: 1
    stop[offset="0.2803"]
      stop-color: #fbfbfb
    stop[offset="0.5707"]
      stop-color: #efeeee
    stop[offset="0.8648"]
      stop-color: #dcdada 
    stop[offset="0.9963"]
      stop-color: #d1cece
