
header.splash
  size: 100% 100%
  color: white
  background: red url('/img/bg-header.jpg') no-repeat
  background-size: cover
  text-align: center
  text-transform: uppercase
  z-index: -9998
  position: relative
  overflow: hidden

  display: block

  a:link, a:visited, a:active
    color: white
    text-decoration: none

  nav
    padding: 0 12%
    left: 0
    width: 76%
    position: absolute
    padding-top 50px
    font-size: 24px
    display: inline-block
    z-index: 1

    span
      float: left

    ul
      float: right

      li
        float: left

        &:first-child:after
          content: ''
          size: .5em
          border-radius: 50%
          background-color: white
          display: inline-block
          margin: 0 20px
          margin-bottom: .125em

  img.logo
    display: block
    margin: 0 auto
    padding-bottom: 100px

  h1
    padding-bottom: 40px

  p
    line-height: 48px
    padding: 0
    margin: 0 auto
    max-width: 1000px
    text-transform: none
    font-size: 29px

  .welcome:before
    content: ''
    background: linear-gradient(
      rgba(206,42,20,0) 0%,
      rgba(206,42,20,0.25) 25%,
      rgba(206,42,20,0.5) 50%,
      rgba(206,42,20,0.25) 75%,
      rgba(206,42,20,0) 100%
    )
    position: absolute
    size 100% 75%
    top: 25%
    left: 0
    z-index: -1

  & > div
    width: 76%
    display: table
    height: 100%

  .welcome
    display: table-cell
    vertical-align: middle
    text-align: center
    height: 430px

