include ../_header

.project-casestudy.collaborate
  mixin header("Collaborate", "Work together simply.")

  section.project-section.project-description
    p Collaborate.com created a mobile and web app that enables users to quickly spin up virtual collaboration rooms. As part of the Figmints team, I designed a marketing website to explain this unique productivity and management tool, beginning with sitemapping and wireframing before moving onto polished page designs. This design phase was done with a quick two-week turnaround, made possible by using the app itself to organize the project.

  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design

    img.stack(src="/img/collaborate-home.png", alt="Collaborate Website, Landing Page", width="964", height="650")
    img.stack(src="/img/collaborate-pricing.png", alt="Collaborate Website, Pricing Page", width="964", height="650")
    img.stack(src="/img/collaborate-contact.png", alt="Collaborate Website, Contact Page", width="964", height="650")