include ../_header
include ../../shared/_buttons
include ../_footer

.project-casestudy.yearup
  mixin header("Yearup", "Closing the Opportunity Divide.")

  section.project-section.project-description
    p Year Up is a national non-profit with 11 locations, empowering low-income young adults to go from poverty to professional careers in a single year. The <a href='http://figmints.com/'>Figmints</a> team completely overhauled their website, with a complicated architecture process that took into account several personas and user flows, and simplified content management across all teams and locations. Then we extending their branding with a clean, easy-to-navigate interface, letting Year Up's compelling mission and their students' stories shine. 

    mixin outline-button('145', 'Visit site', 'http://www.yearup.org/')
 
  section.project-section.ux
    .project-section-title 
      hr.filligre
      h3 Architecture &amp; UX

    img.stack(src="/img/yearup-sitemap.jpg", alt="Yearup Architecture", width="960", height="789")
    img.half(src="/img/yearup-wire-1.jpg", alt="Yearup City Page Wireframe", width="440", height="887")
    img.half(src="/img/yearup-wire-2.jpg", alt="Yearup Application Wireframe", width="440", height="811")
    
  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design 

    img.stack(src="/img/yearup-landing.png", alt="Yearup Landing Page", width="964", height="1792")
    img.stack(src="/img/yearup-secondary.png", alt="Yearup Secondary Page, Our Approach", width="964", height="650")
    img.half(src="/img/yearup-iphone-1.png", alt="Yearup Student Story, on Mobile", width="964", height="650")
    img.half(src="/img/yearup-iphone-2.png", alt="Yearup Menu, on Mobile", width="964", height="1233")

  section.project-section.footer
    .project-section-title
      hr.filligre
    mixin project-nav("../zoom-the-balloon", "Zoom the Balloon", "../toyship", "Toyship")