header.branding
  size: 100% 400px
  color: white
  background: red url('/img/bg-branding-header.jpg') no-repeat
  background-size: cover
  text-align: center
  z-index: -9998
  overflow: hidden
  display: block
  position: relative
  // min-width: 960px

  @media (max-width: 570px)
    height: auto

  h1, h2
    @extends $gotham-black
    font-size: 44px
    text-shadow: 0px 0px 10px rgba(145, 17, 0, 0.5)

    @media (max-width: 570px)
      font-size: 36px

  p
    @extends $whitney-book
    text-shadow: 0px 0px 10px rgba(145, 17, 0, 0.5)

  li
    @extends $whitney-medium
    font-size: 20px

  a, span
    @extends $gotham-bold
    font-size: 24px
    border-bottom: 2px solid transparent

    @media (max-width: 570px)
      font-size: 21px

  ul
    float: right

    @media (max-width: 750px)
      float: none
      margin: 10px auto 0

    li
      float: left
      
      @media (max-width: 750px)
        float: none
        display: inline

  a:hover
    border-bottom: 2px solid white

  & > div
    padding: 0 12%

  a:link, a:visited, a:active
    color: white
    text-decoration: none

  nav
    padding: 0 12%
    left: 0
    width: 76%
    position: absolute
    padding-top 50px
    font-size: 24px
    display: inline-block
    z-index: 10

    @media (max-width: 570px)
      padding-top: 20px

    span
      float: left
      
      @media (max-width: 750px)
        display: block
        float: none

    ul
      float: right

      @media (max-width: 750px)
        float: none
        margin: 10px auto 0

      li
        float: left

        @media (max-width: 750px)
          float: none
          display: inline

        &:first-child:after
          content: ''
          size: .5em
          border-radius: 50%
          background-color: white
          display: inline-block
          margin: 0 20px
          margin-bottom: .125em

  h1
    padding-bottom: 40px

    @media (max-width: 750px)
      padding-top: 30px
      padding-bottom: 20px
      // padding-top:30px

  p
    line-height: 48px
    padding: 0
    margin: 0 auto
    max-width: 1000px
    text-transform: none
    font-size: 29px

    @media (max-width: 890px)
      font-size: 24px
      line-height: 36px

    @media (max-width: 570px)
      font-size: 19px
      line-height: 30px

  .welcome:before
    content: ''
    background: linear-gradient(
      rgba(206,42,20,0) 0%,
      rgba(206,42,20,0.25) 25%,
      rgba(206,42,20,0.5) 50%,
      rgba(206,42,20,0.25) 75%,
      rgba(206,42,20,0) 100%
    )
    position: absolute
    size 100% 75%
    top: 25%
    left: 0
    z-index: -1

  & > div
    width: 76%
    display: table
    height: 100%

  .welcome
    display: table-cell
    vertical-align: middle
    text-align: center
    height: 430px

    @media (max-width: 570px)
      height: 330px

       
section.brands
  max-width: 960px
  position: relative
  group()
  // height: 4205px
  margin: 0 auto
  padding-top: 70px
  padding-bottom: 30px
  @media (max-width: 570px)
    padding-top: 10px
    padding-bottom: 10px
    // height: 7234px

  .brand 
    position: relative
    column(6)
    @media (max-width: 570px)
      column(12)
      float: none
      width: 90%
      margin: 0 auto

    img
      display: block
      max-width: 465px
      height: auto

      @media (max-width: 980px)
        max-width: 100%

  hr
    width: 90%
    height: 2px
    background-color: light-grey
    border:none
    box-sizing:border-box
    margin: 0 auto
    @media (max-width: 570px)  
      width: 70%
      
    &.odd
      display:none
      @media (max-width: 570px)  
        display: block
    
    &.special 
      display: block 
      width: 2px
      height: 96%
      position: absolute
      left: 0
      right: 0
      top: 75px
      bottom: 75px
      @media (max-width: 570px)  
        display: none

      // &.first, &.second  
      //   display: block 
      //   width: 2px
      //   height: 280px
      //   position: absolute
      //   left: 33.3333333%
      // &.second 
      //   left: 66.6666666%

      // &.third 
      //    display: block      


        

  // table
  //   margin: 0 auto
  //   border-collapse:collapse

  //   td
  //     border: 2px solid light-grey

  //     &:nth-child(odd)
  //       border-left: none

  //     &:nth-child(even)
  //       border-right: none

  //   tr:first-child td
  //     border-top: none

  //   tr:last-child td
  //     border-bottom: none
