.project-casestudy.branding
  .project-hero
      h1, h2, p
        text-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5)

section.brands
  max-width: 960px
  position: relative
  group()
  // height: 4205px
  margin: 0 auto
  padding-top: 70px
  padding-bottom: 30px
  @media (max-width: 570px)
    padding-top: 10px
    padding-bottom: 10px
    // height: 7234px

  .brand 
    position: relative
    column(6)
    @media (max-width: 570px)
      column(12)
      float: none
      width: 90%
      margin: 0 auto

    img
      display: block
      max-width: 465px
      height: auto

      @media (max-width: 980px)
        max-width: 100%

  hr
    width: 90%
    height: 2px
    background-color: light-grey
    border:none
    box-sizing:border-box
    margin: 0 auto
    @media (max-width: 570px)  
      width: 70%
      
    &.odd
      display:none
      @media (max-width: 570px)  
        display: block
    
    &.special 
      display: block 
      width: 2px
      height: 96%
      position: absolute
      left: 0
      right: 0
      top: 75px
      bottom: 75px
      @media (max-width: 570px)  
        display: none

      // &.first, &.second  
      //   display: block 
      //   width: 2px
      //   height: 280px
      //   position: absolute
      //   left: 33.3333333%
      // &.second 
      //   left: 66.6666666%

      // &.third 
      //    display: block      


        

  // table
  //   margin: 0 auto
  //   border-collapse:collapse

  //   td
  //     border: 2px solid light-grey

  //     &:nth-child(odd)
  //       border-left: none

  //     &:nth-child(even)
  //       border-right: none

  //   tr:first-child td
  //     border-top: none

  //   tr:last-child td
  //     border-bottom: none
