.project-casestudy.clickfox
  .project-hero
    background: rgba(91, 116, 157, 1) url('/img/bg-clickfox-2.jpg') no-repeat
    background-size: cover
    background-attachment: fixed
    text-shadow: 0px 0px 10px rgba(73, 73, 73, 0.5)

  .project-section.project-description
    a
      color: #e24f2a

  .project-section.web
    group()