.project-casestudy.community-teamwork
  .project-hero
    background: green url('/img/bg-community-teamwork-2.jpg') no-repeat
    background-size: cover
    text-shadow: 0px 0px 10px rgba(73, 73, 73, 0.5)

  .project-section.web
    group()
    img
      margin-bottom: 50px

    .trim
      margin: 0
