.project-casestudy.figmints
  .project-hero
    background: rgba(98, 45, 82, 1) url('/img/bg-figmints.jpg') no-repeat
    background-size: cover
    background-attachment: fixed
    text-shadow: 0px 0px 10px rgba(73, 73, 73, 0.5)

  .project-section.branding
    group()
    padding-bottom: 50px
    @media (max-width: 570px)
      padding-bottom: 20px
    img
      column(6)
      box-sizing: border-box
      max-width: 100%
              
      @media (max-width: 570px)
        column(12)

  .project-section.web
    group()
    .stack
      padding-bottom: 10px 
      @media (max-width: 570px)
        padding-bottom: 5px 
