.project-casestudy.fruit-salad
  .project-hero
    background: rgba(202, 83, 87, 1) url('/img/bg-fruit-salad.jpg') no-repeat
    background-size: cover
    text-shadow: 0px 0px 10px rgba(3, 46, 57, 0.8)  

  .project-section.photography
    group()
    
    .half
      margin-bottom: 60px
      @media (max-width: 570px)
        margin-bottom: 20px