header.project-hero
  size: 100% 400px
  color: white
  background: red url('/img/bg-branding-header.jpg') no-repeat
  background-size: cover
  text-align: center
  z-index: -9998
  overflow: hidden
  display: block
  position: relative
  // min-width: 960px
  text-shadow: 0px 0px 10px rgba(145, 17, 0, 0.5)

  @media (max-width: 570px)
    height: auto

  h1, h2
    @extends $gotham-black
    font-size: 44px

    @media (max-width: 570px)
      font-size: 36px

  p
    @extends $whitney-book

  li
    @extends $whitney-medium
    font-size: 20px

  a, span
    @extends $gotham-bold
    font-size: 24px
    border-bottom: 2px solid transparent

    @media (max-width: 570px)
      font-size: 21px

  ul
    float: right

    @media (max-width: 750px)
      float: none
      margin: 10px auto 0

    li
      float: left
      
      @media (max-width: 750px)
        float: none
        display: inline

  a:hover
    border-bottom: 2px solid white

  & > div
    padding: 0 12%

  a:link, a:visited, a:active
    color: white
    text-decoration: none

  nav
    padding: 0 12%
    left: 0
    width: 76%
    position: absolute
    padding-top 50px
    font-size: 24px
    display: inline-block
    z-index: 10

    @media (max-width: 570px)
      padding-top: 20px

    span
      float: left
      
      @media (max-width: 750px)
        display: block
        float: none

    ul
      float: right

      @media (max-width: 750px)
        float: none
        margin: 10px auto 0

      li
        float: left

        @media (max-width: 750px)
          float: none
          display: inline

        &:first-child:after
          content: ''
          size: .5em
          border-radius: 50%
          background-color: white
          display: inline-block
          margin: 0 20px
          margin-bottom: .125em

  h1
    padding-bottom: 40px

    @media (max-width: 750px)
      padding-top: 60px
      padding-bottom: 20px

  p
    line-height: 48px
    padding: 0
    margin: 0 auto
    max-width: 1000px
    text-transform: none
    font-size: 29px

    @media (max-width: 890px)
      font-size: 24px
      line-height: 36px

    @media (max-width: 570px)
      font-size: 19px
      line-height: 30px

  & > div
    width: 76%
    display: table
    height: 100%

  .welcome
    display: table-cell
    vertical-align: middle
    text-align: center
    height: 430px

    @media (max-width: 570px)
      height: 330px
