.project-casestudy.packaging
  .project-hero
    background: rgba(201, 36, 14, 1) url('/img/bg-branding-header.jpg') no-repeat
    background-attachment: fixed
    text-shadow: 0px 0px 10px rgba(88, 120, 141, 0.8)  
   
    h1
      @media (max-width: 450px)
        font-size: 32px
        
  .project-section.concept
    group()
