.project-casestudy.perfect-pears
  .project-hero
    background: rgba(155, 191, 101, 1) url('/img/bg-perfect-pears-2.jpg')
    background-size: cover
    background-attachment: fixed
    text-shadow: 0px 0px 10px rgba(42, 58, 46, 0.5)  
    
    h1
      @media (max-width: 450px)
        font-size: 28px

  .project-section.project-description
    a
      color: #e24f2a

  .project-section.marketing
    group()
    img
      margin-bottom: 50px

    .white
      margin-bottom: 0px