.project-casestudy.remobilize
  .project-hero
    background: rgba(151, 202, 69, 1) url('/img/bg-remobilize.jpg')
    background-size: cover
    text-shadow: 0px 0px 10px rgba(158, 114, 83, 0.5)  
    
    h1
      @media (max-width: 450px)
        font-size: 28px

  .project-section.book
    group()
    img
      margin-bottom: 50px