.project-casestudy.toyship
  .project-hero
    background: rgba(200, 143, 100, 1) url('/img/bg-toyship.jpg') no-repeat
    background-size: cover
    text-shadow: 0px 0px 10px rgba(158, 114, 83, 0.5)  

  .project-section.web
    group()
    img
      margin-bottom: 50px