include ../_header
include ../../shared/_buttons
include ../_footer

.project-casestudy.edtrips
  mixin header("Edtrips", "Taking education beyond the classroom.")

  section.project-section.project-description
    p Edtrips offers a revolutionary platform that allows educators to easily plan group travel and field-trips. After Edtrips changed their name, a brand transformation was in order, complete with a new identity with matching print and web materials, created with the <a href='http://figmints.com/'>Figmints</a> team. The new design system incorporates their fun attitude, while making the technology more approachable for teachers. 
    
    mixin outline-button('145', 'Visit site', 'http://edtrips.com/')

  section.project-section.branding
    .project-section-title 
      hr.filligre
      h3 Branding

    img(src="/img/edtrips-logo.png", alt="Edtrips Logo", width="960", height="348")

  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design

    img.stack(src="/img/edtrips-home-chrome.png", alt="Edtrips Landing Page", width="964", height="650")
    img.stack(src="/img/edtrips-home-hover-chrome.png", alt="Edtrips Landing Page with Hover", width="964", height="650")
    img.stack(src="/img/edtrips-contact-chrome.png", alt="Edtrips Contact Modal", width="964", height="650")

  section.project-section.print
    .project-section-title 
      hr.filligre
      h3 Print Ads

    img.half(src="/img/edtrips-ad-1.jpg", alt="Edtrips Ad One", width="480", height="610")
    img.half(src="/img/edtrips-ad-2.jpg", alt="Edtrips Ad Two", width="480", height="609")

  section.project-section.footer
    .project-section-title
      hr.filligre
    mixin project-nav("../branding", "Branding", "../passkey", "Passkey")