$gotham
  font-family: 'Gotham SSm A', 'Gotham SSm B'
  font-style: normal

$gotham-medium
  @extends $gotham
  font-weight: 500

$gotham-bold
  @extends $gotham
  font-weight: 700

$gotham-black
  @extends $gotham
  font-weight: 800

$whitney
  font-family: 'Whitney SSm A', 'Whitney SSm B'
  font-style: normal

$whitney-book
  @extends $whitney
  font-weight: 400

$whitney-book-italic
  @extends $whitney-book
  font-style: italic

$whitney-medium
  @extends $whitney
  font-weight: 500
