@import 'shared/_settings'

@import 'shared/_fonts'
@import 'shared/_buttons'

@import 'shared/_nav'
@import 'shared/_footer'

@import '_home'
@import '_about'

normalize()
base()

html, body
  size: 100%
  position: relative
  z-index: -10000

*, ul, h1, h2, h3
  margin: 0
  padding: 0

ul
  list-style: none

::-moz-selection
  background-color: red
  color: #fff;

::selection
  background-color: red
  color: #fff;
