@import 'shared/_settings'

@import 'shared/_fonts'
@import 'shared/_buttons'

@import 'shared/_nav'
@import 'shared/_footer'

@import '_home'
@import '_about'

@import 'projects/_shared'
@import 'projects/_header'
@import 'projects/_branding'
@import 'projects/_bookscanner'
@import 'projects/_figmints'
@import 'projects/_edtrips'
@import 'projects/_toyship'
@import 'projects/_dinosofts'
@import 'projects/_collaborate'
@import 'projects/_community-teamwork'

normalize()
base()

html, body
  size: 100%
  position: relative
  z-index: -10000

*, ul, h1, h2, h3
  margin: 0
  padding: 0

ul
  list-style: none

a:link, a:visited, a:active
  text-decoration: none

::-moz-selection
  background-color: red
  color: #fff;

::selection
  background-color: red
  color: #fff;
