include ../_header

.project-casestudy.clickfox
  mixin header("Clickfox", "Essential to big data strategy.")

  section.project-section.project-description
    p Clickfox delivers to its customers a platform for performing advanced analytics. We (the Figmints team and I) delivered a clean, modern, responsive website. 

  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design

    img.stack(src="/img/clickfox-home-chrome.png", alt="Clickfox Landing Page", width="964", height="650")
    img.stack(src="/img/clickfox-downloads.png", alt="Clickfox Downloads Page", width="964", height="650")
    img.stack(src="/img/clickfox-content.png", alt="Clickfox Products Page", width="964", height="650")      
    img.half(src="/img/clickfox-home-iphone.png", alt="Clickfox Landing Page, on an iPhone", width="370", height="774")
    img.half(src="/img/clickfox-menu-iphone.png", alt="Clickfox Responsive Menu, on an iPhone", width="370", height="774")