include ../_header
include ../../shared/_buttons

.project-casestudy.community-teamwork
  mixin header("Community Teamwork", "Solutions that build communities and change lives.")

  section.project-section.project-description
    p Community Teamwork creates housing, education and economic opportunities that reduce poverty and strengthen communities. Together, the <a href='http://figmints.com/'>Figmints</a> team updated Community Teamwork's branding and website, adding their caring personality to all designs and making their content mobile-accessible for users without computers. We also re-organized their subsidiary structure, adding clarity with an intensive architecture process. 
    
    mixin outline-button('145', 'Visit site', 'http://commteam.org/')
 
  section.project-section.branding
    .project-section-title 
      hr.filligre
      h3 Branding

    img(src="/img/community-teamwork-logo.jpg", alt="Community Teamwork Primary Organization Logos", width="960", height="360")

  section.project-section.subsidiary-branding
    .project-section-title 
      hr.filligre
      h3 Subsidiary Branding
    img(src="/img/community-teamwork-subsidiary-logos.jpg", alt="Community Teamwork Subsidiary Logos", width="960", height="400")

  section.project-section.print
    .project-section-title 
      hr.filligre
      h3 Print Design 
    img.trim(src="/img/community-teamwork-bizcard.jpg", alt="Community Teamwork Business Card", width="960", height="614")
    img.stack(src="/img/community-teamwork-poster.png", alt="Community Teamwork Poster", width="960", height="713")

  section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design 

    img.stack(src="/img/community-teamwork-home-full.png", alt="Community Teamwork Home Page", width="964", height="2164")
    img.stack(src="/img/community-teamwork-help-chrome.png", alt="Community Teamwork Program Page", width="964", height="650")
    img.stack(src="/img/community-teamwork-programs-chrome.png", alt="Community Teamwork Program Page", width="964", height="650")
    img.half(src="/img/community-teamwork-menu-iphone.png", alt="Community Teamwork Home Page Menu, on an iPhone", width="370", height="774")
    img.half(src="/img/community-teamwork-solutions-iphone.png", alt="Community Teamwork Solutions Page, on an iPhone", width="370", height="774")