include ../shared/_buttons

mixin case-study(name, image, skills)
  .case-study
    img(src="/img/#{image}", alt=name, width="465", height="465")
    .overlay
      h4= name
      ul
        - for s in skills 
          li= s
      mixin outline-button('210', 'View Case Study')

section.designs
  hr
  h3 Designs

  div
    mixin case-study("Figmints", "465-figmints.jpg", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"])
    mixin case-study("Toyship", "465-toyship.jpg", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"])
    mixin case-study("Perfect Pears", "465-perfectpears.jpg", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"])
    mixin case-study("EdTrips", "465-edtrips.jpg", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"])
    mixin case-study("BookScanner", "465-bookscanner.jpg", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"])
    mixin case-study("Dinosofts", "465-dinosofts.jpg", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"])

    mixin solid-button('126', 'My Work')

