include ../shared/_buttons

section.designs
  hr
  h3 Designs

  div
    img(src="/img/465-figmints.jpg", alt="Figmints" width="465", height="465")
    img(src="/img/465-toyship.jpg", alt="Toyship" width="465", height="465")
    img(src="/img/465-perfectpears.jpg", alt="Perfect Pears" width="465", height="465")
    img(src="/img/465-edtrips.jpg", alt="Edtrips" width="465", height="465")
    img(src="/img/465-bookscanner.jpg", alt="Book Scanner" width="465", height="465")
    img(src="/img/465-dinosofts.jpg", alt="Dinosofts" width="465", height="465")

    mixin solid-button('132', 'My Work')