include ../shared/_buttons

section.discovery
  hr.filligre
  h3 Discovery

  div
    .fact.lullabot
      img(src="/img/discovery-1-lullabot.png", alt="Lullabot", title="Lullabot")
    hr.first
    .fact.toys
      img(src="/img/discovery-2-toys.png", alt="Toys", title="Toys")
    hr.even.second
    .fact.adobe
      img(src="/img/discovery-3-cs.png", alt="Adobe", title="Adobe")
    hr.third
    .fact.daap
      img(src="/img/discovery-4-daap.png", alt="DAAP", title="DAAP")
    hr.even
    .fact.spotify
      img(src="/img/discovery-5-spotify-2.png", alt="Spotify", title="Spotify")
    hr
    .fact.providence
      img(src="/img/discovery-6-providence.png", alt="Providence", title="Providence")


  .hover
    .fact.lullabot
      img(src="/img/discovery-1-lullabot-hover.png", alt="Lullabot", title="Figmints")
    hr.first
    .fact.toys
      img(src="/img/discovery-2-toys-hover.png", alt="Toys", title="Toys")
    hr.even.second
    .fact.adobe
      img(src="/img/discovery-3-cs-hover.png", alt="Adobe", title="Adobe")
    hr.third
    .fact.daap
      img(src="/img/discovery-4-daap-hover.png", alt="DAAP", title="DAAP")
    hr.even
    .fact.spotify
      img(src="/img/discovery-5-spotify-hover-2.png", alt="Spotify", title="Spotify")
    hr
    .fact.providence
      img(src="/img/discovery-6-providence-hover.png", alt="Providence", title="Providence")

  mixin solid-button('144', 'About Me', '/about')

