include ../shared/_buttons

section.discovery
  hr
  h3 Discovery

  div
    .work
      .figmints-icon
      span.lead-in Art Director at
      span.takeaway FIGMINTS
    .toys
      span.lead-in Three-hundred seventeen
      .labbits-icon
      span.takeaway DESIGNER TOYS
    .tools
      span.lead-in Using Adobe CS since before it was CS
      span.takeaway (2002)
      .adobe-icon
    .school
      .daap-icon
      span.lead-in Graduated from
      span.takeaway DAAP
    .music
      span.lead-in Been listening to a lot of
      .spotify-icon
      span.takeaway Beach House Bloom
    .location
      .rhode-island-icon
      span.lead-in Currently living in
      span.takeaway Providence RI

    mixin solid-button('132', 'About Me')

