include ../shared/_buttons

section.discovery
  hr.filligre
  h3 Discovery

  div
    .fact.figmints
      img(src="/img/discovery-1-figmints.png", alt="Figmints", title="Figmints")
    hr.first
    .fact.toys
      img(src="/img/discovery-2-toys.png", alt="Toys", title="Toys")
    hr.even.second
    .fact.adobe
      img(src="/img/discovery-3-cs.png", alt="Adobe", title="Adobe")
    hr.third
    .fact.daap
      img(src="/img/discovery-4-daap.png", alt="DAAP", title="DAAP")
    hr.even
    .fact.spotify
      img(src="/img/discovery-5-spotify.png", alt="Spotify", title="Spotify")
    hr
    .fact.providence
      img(src="/img/discovery-6-providence.png", alt="Providence", title="Providence")

  .hover
    .fact.figmints
      img(src="/img/discovery-1-figmints-hover.png", alt="Figmints", title="Figmints")
    hr.first
    .fact.toys
      img(src="/img/discovery-2-toys-hover.png", alt="Toys", title="Toys")
    hr.even.second
    .fact.adobe
      img(src="/img/discovery-3-cs-hover.png", alt="Adobe", title="Adobe")
    hr.third
    .fact.daap
      img(src="/img/discovery-4-daap-hover.png", alt="DAAP", title="DAAP")
    hr.even
    .fact.spotify
      img(src="/img/discovery-5-spotify-hover.png", alt="Spotify", title="Spotify")
    hr
    .fact.providence
      img(src="/img/discovery-6-providence-hover.png", alt="Providence", title="Providence")

    //- table.hover
    //-   tbody
    //-     tr
    //-       td.figmints
    //-         img(src="/img/discovery-1-figmints-hover.png", alt="Figmints", title="Figmints")
    //-       td.toys
    //-         img(src="/img/discovery-2-toys-hover.png", alt="Toys", title="Toys")
    //-       td.adobe
    //-         img(src="/img/discovery-3-cs-hover.png", alt="Adobe", title="Adobe")
    //-     tr
    //-       td.daap
    //-         img(src="/img/discovery-4-daap-hover.png", alt="DAAP", title="DAAP")
    //-       td.spotify
    //-         img(src="/img/discovery-5-spotify-hover.png", alt="Spotify", title="Spotify")
    //-       td.providence
    //-         img(src="/img/discovery-6-providence-hover.png", alt="Providence", title="Providence")

    //- .work
    //-   .figmints-icon
    //-   span.lead-in Art Director at
    //-   span.takeaway FIGMINTS
    //- .toys
    //-   span.lead-in Three-hundred seventeen
    //-   .labbits-icon
    //-   span.takeaway DESIGNER TOYS
    //- .tools
    //-   span.lead-in Using Adobe CS since before it was CS
    //-   span.takeaway (2002)
    //-   .adobe-icon
    //- .school
    //-   .daap-icon
    //-   span.lead-in Graduated from
    //-   span.takeaway DAAP
    //- .music
    //-   span.lead-in Been listening to a lot of
    //-   .spotify-icon
    //-   span.takeaway Beach House Bloom
    //- .location
    //-   .rhode-island-icon
    //-   span.lead-in Currently living in
    //-   span.takeaway Providence RI

  mixin solid-button('144', 'About Me', '/about')

