include ../shared/_buttons

mixin shot
  .shot-container 
    .shot
      img(width="300", height="225")
      .overlay
        h4 Loading...
        a
        mixin outline-button('200', 'View Shot', "//dribbble.com/mars.toyship")

section.dribbble
  hr.filligre
  h3 Dribbble
  img(src="/img/dribbble-pink.png", alt="dribbble", width="25", height="25")

  .shots
    mixin shot
    mixin shot
    mixin shot
    mixin shot
    mixin shot
    mixin shot

  mixin outline-button('136', 'Dribbble', '//dribbble.com/mars.toyship')
