include ../shared/_buttons

section.dribbble
  hr
  h3 Dribbble

  div
    img(src="/img/dribbble-placeholder.jpg", alt="Figmints" width="300", height="225")
    img(src="/img/dribbble-placeholder.jpg", alt="Figmints" width="300", height="225")
    img(src="/img/dribbble-placeholder.jpg", alt="Figmints" width="300", height="225")

    mixin outline-button('132', 'Dribbble')
