header.splash
  div
    nav
      span
        a(href="/") Marissa Epstein
      ul
        li
          a(href="#work") My Work
        li
          a(href="/about") Me

    .welcome
      .logo
        img(src="/img/logo-white_shadowed-just-m.png", alt="Mars Logo" width="192", height="191")
        .moon.phobos
        .moon.deimos
      h1 Welcome to Mars
      p Howdy. I'm a designer with a knack for creating websites, brands, and experiences. Look around, get to know me. You can call me Mars.
