header.splash
  div
    nav
      span 
        a(href="/") Marissa Epstein
      ul
        li
          a(href="#work") My Work
        li
          a(href="/about") Me

    .welcome
      img.logo(src="/img/logo-white.png", alt="Mars Logo" width="176", height="175")
      h1 Welcome to Mars
      p Howdy. I'm a designer with a knack for creating websites, brands, and experiences. Look around, get to know me. You can call me Mars.
