include ../_header
include ../_footer

.project-casestudy.bookscanner
  mixin header("BookScanner", "Discover book reviews and ratings quickly.")

  section.project-section.project-description
    p BookScanner allows users to view and save book reviews, by scanning a book’s barcode or through searches. This project was a full branding and user experience overhaul for existing app: we began with the logo, which evolved into the app icon, then continued with an information architecture phase, followed by a new, polished interface design (soon to be implemented).

  section.project-section.logo-icon
    .project-section-title 
      hr.filligre
      h3 Logo &amp; Icon

    img.stack(src="/img/bookscanner-logo-a.png", alt="BookScanner Logo", width="635", height="275")
    img.stack(src="/img/bookscanner-logo-b.png", alt="BookScanner App Icon", width="150", height="159")

  section.project-section.app
    .project-section-title 
      hr.filligre
      h3 App Design

    img.half(src="/img/bookscanner-phone1.png", alt="BookScanner App Screen Design", width="370", height="721") 
    img.half(src="/img/bookscanner-phone2.png", alt="BookScanner App Screen Design", width="370", height="721")
    img.half(src="/img/bookscanner-phone3.png", alt="BookScanner App Screen Design", width="370", height="721")    
    img.half(src="/img/bookscanner-phone4.png", alt="BookScanner App Screen Design", width="370", height="721")      
    img.half.last(src="/img/bookscanner-phone5.png", alt="BookScanner App Screen Design", width="370", height="721")    
    img.half.last(src="/img/bookscanner-phone6.png", alt="BookScanner App Screen Design", width="370", height="721")  
  
  section.project-section.footer
    .project-section-title
      hr.filligre
    mixin project-nav("../clickfox", "Clickfox", "../packaging", "Packaging")