include ../_header

.project-casestudy.bookscanner
  mixin header("BookScanner", "Discover book reviews and ratings quickly.")

  section.project-section.project-description
    p BookScanner allows users to view and save book reviews, by scanning a book’s barcode or through searches. This project was a full branding and user experience overhaul for existing app: we began with the logo, which evolved into the app icon, then continued with an information architecture phase, followed by a new, polished interface design (soon to be implemented).

  section.project-section.logo-icon
    .project-section-title 
      hr.filligre
      h3 Logo &amp; Icon

    img(src="/img/bookscanner-logos.png", alt="BookScanner Logo & App Icon", width="841", height="257")

   section.project-section.app
    .project-section-title 
      hr.filligre
      h3 App Design

    img.half(src="/img/bookscanner-phone1.png", alt="BookScanner App Screen Design", width="370", height="721") 
    img.half(src="/img/bookscanner-phone2.png", alt="BookScanner App Screen Design", width="370", height="721")
    img.half(src="/img/bookscanner-phone3.png", alt="BookScanner App Screen Design", width="370", height="721")    
    img.half(src="/img/bookscanner-phone4.png", alt="BookScanner App Screen Design", width="370", height="721")      
    img.half(src="/img/bookscanner-phone5.png", alt="BookScanner App Screen Design", width="370", height="721")    
    img.half(src="/img/bookscanner-phone6.png", alt="BookScanner App Screen Design", width="370", height="721")  