include ../shared/_buttons

.about-page

  section.intro
    h1 I lose myself in design. It's kind of a problem.
    
    .img-container
      img(src="/img/me-portrait.jpg", alt="Portrait") 
    
    .story
      :markdown
        <!--I know that everyone and their mother says they’re passionate. But I would still have to say I’m obsessed. Addicted. Intoxicated. Sue me.-->

        I’ve been drinking the design Kool-Aid ever since I was a kid in Florida—doodling with my architect parents; creating vectors of robots and dinosaurs in a magnet arts high school. At the University of Cincinnati, I had my eyes opened by Swiss design, and contributed to major brands during multiple internships. Since graduating, I’ve had the privilege of designing for a living and reinvesting in a constant flow of design-related books and additions to my designer toy collection. It’s a vicious cycle. 

        My expanding obsession led me to a love of web design, plus countless crushes on great user experiences. Now I'm a UX dork, thriving on complex problem-solving, sketching out user journeys, and writing too much documentation. I’m still thirsty for knowledge and new opportunities. Cheers.

  section.what-i-do
    hr.filligre
    header
      h2 What I Do
      ul
        li
          img(src="/img/icon-web.png", alt="Web", title="Web")
          br
          = "Website &" 
          br
          = "App Design"
        li
          img(src="/img/icon-ux.png", alt="UX", title="UX")
          br
          = "User" 
          br
          = "Experience"
        li
          img(src="/img/icon-branding.png", alt="Branding", title="Branding")
          br
          = "Branding"
          br
          = "& Identity"
        li
          img(src="/img/icon-direction.png", alt="Direction", title="Direction")
          br
          = "Art"
          br
          = "Direction"        
        li
          img(src="/img/icon-packaging.png", alt="Packaging", title="Packaging")
          br
          = "Packaging"
          br
          = "Design"
        li
          img(src="/img/icon-print.png", alt="Print", title="Print")
          br
          = "Print"
          br
          = "Design"

  section.how-i-do-it
    hr.filligre
    header
      h2 How I Do It
    :markdown
      + Sketch
      + Adobe Illustrator 
      + Apple Products
      + InVision
      + Adobe Photoshop 
      + Slack
      + Drupal
      + Adobe InDesign
      + Microsoft Office
      + WordPress
      + Adobe After Effects 
      + Copious Sketches
      + HTML & CSS
      + Adobe Flash
      + Panasonic Lumix
  


  section.experience
    hr.filligre
    section.employment
      header
        h2 Experience
      div
        :markdown

          ### LULLABOT
          *September 2014–Now • Providence, RI (distributed)*
          #### Senior UX Designer 
          Contribute to major projects for the distributed Lullabot design team. Lead design projects, educating clients and colleagues about UX processes. Participate in gathering research, sketching and refining website architecture, and establishing UI and custom page designs. Collaborate openly with others, such as front-end and back-end developers, project managers, sales team.

          ### FIGMINTS DELICIOUS DESIGN
          *October 2012–September 2014 • Pawtucket, RI*
          #### ART DIRECTOR
          Worked on a variety of projects, from branding and print design to UX/UI and website design. Completed designs from research and ideation, architecture and wire-framing, and ultimately to digital design executions and code. Art directed projects of other designers, and collaborated with the development team.
          
          + 2nd place at Startup Weekend Providence 2012

          ### MOJOTECH
          *November 2011–June 2012 • Providence, RI*
          #### VISUAL DESIGNER
          Worked alongside the development team to create interactive designs, particularly web apps for start-ups. Created information architecture, wire-frames, page layouts, branding, user experiences and interfaces, as well as content for website and application designs.
          
          + Best in Class by Interactive Media Awards 2012

          ### INTERBRAND
          *April 2009–December 2010 • Cincinnati, OH*
          #### DESIGN INTERN
          Collaborated with the Interbrand design team on packaging and branding projects. Specifically sketched and created digital executions on the Wrigley team for such brands as Orbit, Lifesavers, and Skittles, but also helped the home and beauty teams. Participated in several student projects and presentations.

          ### LANDOR
          *April–June 2010 • Chicago, IL*
          #### DESIGN INTERN
          Played a key role in a variety of design projects for Kraft. Primarily created packaging designs, but also worked on brand and strategy creation, for brands such as Macaroni & Cheese, Digiorno, and Athenos.

    
    section.education
      hr.filligre.education
      header
        h2 Education
      div
        :markdown
          ### UNIVERSITY OF CINCINNATI
          *2006–2011 • Cincinnati, OH*
          #### MAJOR: GRAPHIC DESIGN
          #### MINOR: PSYCHOLOGY
          College of Design, Architecture, Art & Planning (DAAP) 

          + Participated in the Professional Practice Program, alternating quarters of classroom study with work in the field of graphic design 
          + GPA: 3.8/4.0 (Dean’s List and Honor Roll all quarters)
          + Graduated Magna Cum Laude 
          + Lower-division Honors

          ### A. W. DREYFOOS, <br> SCHOOL OF THE ARTS
          *2002–2006 • West Palm Beach, FL*
          #### MAJOR: COMMUNICATION ARTS
          Graphic Design and Photography tracks

          + GPA: 3.8/4.0, HPA: 4.3/6.0
          + AP Scholar with Distinction 2006
          + Excellence in AP Web Design, Photography, and Photography I (one student per year) 2005–2006

          ### INDEPENDENT STUDY
          *2011–Now • Internet & Kindle*

          Continuing education with personal reading and participation in online classes. Below is a sample of those resources. 

          + Selections from A Book Apart Library
          + Design: Creation of Artifacts in Society
          + Responsive Design Workflow 
          + The User Experience Team of One: A Research and Design Survival Guide
          + The Design of Everyday Things: Revised and Expanded 
          + Design for the Real World: Human Ecology and Social Change Human Ecology and Social Change 
          + Don't Make Me Think: A Common Sense Approach to Web Usability
          + Rocket Surgery Made Easy: The Do-It-Yourself Guide to Finding and Fixing Usability Problems
          + A Designer's Research Manual: Succeed in Design by Knowing Your Clients and What They Really Need 
          + User Story Mapping: Discover the Whole Story, Build the Right Product
          + How to Make Sense of Any Mess: Information Architecture for Everybody 
          + Intertwingled: Information Changes Everything 
          + A Practical Guide to Managing Web Projects
          + HTML & CSS: Design and Build Websites 
          + Designing Brand Identity: An Essential Guide for the Whole Branding Team
          + Graphic Design Referenced 
          + Tragic Design 
          + Above the Fold: Understanding the Principles of Successful Web Site Design
          + Elements of Style

  mixin solid-button('240', 'Download Resume', '/dl/MarissaEpstein-Resume-2018.pdf')
