mixin header(title, description)
  header.project-hero
    div
      nav
        span
          a(href="/") Marissa Epstein
        ul
          li
            a(href="/#work") My Work
          li
            a(href="/about") Me

      .welcome
        h1= title
        p= description