include ../_header

.project-casestudy.zoom
  mixin header("Zoom the Balloon", "...wants to go to the moon!")

  section.project-section.project-description
    p I am proud to say that Zoom the Balloon was the result of 2013's Node Knockout, a world-wide, remote, 48-hour hackathon. I'm prouder to say that we won, for Best Design! It's a deceptively-simple vertical-scrolling game, with the mission of getting Zoom to the moon fast, while carefully maneuvering through stars and clouds. I designed the site (where you can download or play), the game level (plus architecting the mechanics), the pre- and post-game screens, and of course our little Zoom. 
    img(src="/img/zoom-winner.png", alt="Node Knockout Winner, Best Design", width="200", height="220")
     
  section.project-section.game
    .project-section-title 
      hr.filligre
      h3 Game Design

    img.stack(src="/img/zoom-pregame-chrome.png", alt="Zoom the Balloon, Pre-Game Screen", width="964", height="754")
    img.stack(src="/img/zoom-game-chrome.png", alt="Zoom the Balloon, Game Level Screen", width="964", height="754")
    img.stack(src="/img/zoom-hiscores-chrome.png", alt="Zoom the Balloon, High Scores", width="964", height="754")

