include ../_header
include ../../shared/_buttons
include ../_footer

.project-casestudy.figmints
  mixin header("Figmints", "Whatever it takes to tell your story in the most beautiful way possible.")

  section.project-section.project-description
    p Figmints is a creative studio that churns out branding &amp; identity, interactive web designs, thoughtful user experiences, video story-telling, and marketing know-how that is simply refreshing. Figmints needed exactly what they offer to most clients: a soup-to-nuts rebranding, including logos, collateral, and best of all, a website redesign. As Figmints' Art Director, I led the project from sketches to final artwork, including logo design, site architecture, and responsive design directions. 
    
    mixin outline-button('145', 'Visit site', 'http://figmints.com/')
 
  section.project-section.branding
    .project-section-title 
      hr.filligre
      h3 Branding

    img(src="/img/figmints-logo-sm.jpg", alt="Figmints Logo", width="475", height="498")
    img(src="/img/figmints-bizcard.jpg", alt="Figmints Business Card", width="469", height="538")

   section.project-section.web
    .project-section-title 
      hr.filligre
      h3 Web Design

    img.stack(src="/img/figmints-home-chrome-full.png", alt="Figmints Full Landing Page", width="964", height="2358")
    img.stack(src="/img/figmints-about-chrome.png", alt="Figmints About Page", width="964", height="650")
    img.stack(src="/img/figmints-process-chrome.png", alt="Figmints Process Page", width="964", height="650")
    img.stack(src="/img/figmints-holliston-chrome.png", alt="Figmints Holliston Project Page", width="964", height="650")
    img.half(src="/img/figmints-about-team-iphone.png", alt="Figmints About Page, Responsive on iPhone", width="370", height="774")
    img.half(src="/img/figmints-contact-iphone.png", alt="Figmints Contact Page, Responsive on iPhone", width="370", height="774")


  section.project-section.print
    .project-section-title 
      hr.filligre
      h3 Print Mailers

    img.stack(src="/img/figmints-holidaycard.jpg", alt="Figmints Christman Card", width="800", height="600")
    img.white(src="/img/figmints-video-mailer.jpg", alt="Figmints Mailers", width="800", height="600")

  section.project-section.footer
      .project-section-title
        hr.filligre
      mixin project-nav("../packaging", "Packaging", "../perfect-pears", "Perfect Pears")