
footer
  size 100% 350px
  background: red url('/img/bg-footer.jpg') no-repeat
  background-size: cover
  color: white
  text-align: center
  // min-width: 960px
  @media (max-width: 750px) 
    height: 300px 

  & > div
    padding: 0 12%

  a, span
    @extends $gotham-bold
    font-size: 24px
    border-bottom: 2px solid transparent


  h2
    @extends $gotham-black
    font-size: 32px
    text-shadow: 0px 0px 10px rgba(145, 17, 0, 0.5)
    padding-top: 72px
    padding-bottom: 72px
    margin: 0 auto
    @media (max-width: 750px)
      font-size: 24px
      padding-top: 36px
      padding-bottom: 36px

.contact
  float: right
  margin-top: -15px
  @media (max-width: 750px) 
    margin-top: 20px

  a
    color: white
    text-decoration: none
    @extends $whitney-medium
    letter-spacing: 0.025em
    font-size: 22px
    text-transform: none
    float: right
    clear: both
    text-shadow: 0px 0px 10px rgba(145, 17, 0, 0.5)
    @media (max-width: 750px)
      font-size: 18px
      float: none
      display: inline-block

  a:hover
    border-bottom: 2px solid #ff8a7a

  .phone
    padding-top: 30px
    @media (max-width: 750px)
      padding-top: 20px

button.social
  float: left
  margin-top: 7px
  margin-right: 16px
  @media (max-width: 750px)
    float: none
    margin-top: 0px