include ../_header
include ../_footer

.project-casestudy.branding
  mixin header("BRANDING™", "Here's a collection of some stand-alone branding projects.")

  section.brands
    hr.special
    div
      .brand.wemake
        img(src="/img/b17-wemake.jpg", alt="We Make", title="We Make")
      hr.first.odd
      .brand.zoom
        img(src="/img/b18-zoom.jpg", alt="Zoom the Balloon", title="Zoom the Balloon")
      hr.even.second
      .brand.mojo
        img(src="/img/b1_mojo.jpg", alt="MojoTech", title="MojoTech")
      hr.odd
      .brand.sze
        img(src="/img/b2_sze.jpg", alt="SZE Architects", title="SZE Architects")
      hr.even
      .brand.rrp
        img(src="/img/b3_rrp.jpg", alt="Rrp", title="Rrp")
      hr.odd
      .brand.wheather
        img(src="/img/b4_wheather.jpg", alt="Wheather", title="Wheather")
      hr.even
      .brand.pawsitive
        img(src="/img/b5_pawsitive.jpg", alt="Pawsitive Partners", title="Pawsitive Partners")
      hr.odd
      .brand.yarnia
        img(src="/img/b6_yarnia.jpg", alt="Yarnia", title="Yarnia")
      hr.even
      .brand.allaboard
        img(src="/img/b7_allaboard.jpg", alt="All Aboard", title="All Aboard")
      hr.odd
      .brand.firstfive
        img(src="/img/b8_firstfive.jpg", alt="First Five", title="First Five")
      hr.even
      .brand.samexhibit
        img(src="/img/b9_samexhibit.jpg", alt="SamExhibit", title="SamExhibit")
      hr.odd
      .brand.amazing
        img(src="/img/b10_amazing.jpg", alt="Amazing Things", title="Amazing Things")
      hr.even
      .brand.munimark
        img(src="/img/b11_munimark.jpg", alt="MuniMark", title="MuniMark")
      hr.odd 
      .brand.coen
        img(src="/img/b12_coenbrothers.jpg", alt="Coen Brothers", title="Coen Brothers")
      hr.even
      .brand.spmh
        img(src="/img/b13_spmh.jpg", alt="Music Hall", title="Music Hall")
      hr.odd 
      .brand.harmony
        img(src="/img/b14_harmony.jpg", alt="Harmony", title="Harmony")
      hr.even
      .brand.oink
        img(src="/img/b15_oink.jpg", alt="Oink", title="Oink")
      hr.odd
      .brand.octopus
        img(src="/img/b16_octopus.jpg", alt="Octopus", title="Octopus")

  section.project-section.footer
    .project-section-title
      hr.filligre
    mixin project-nav("../toyship", "Toyship", "../edtrips", "Edtrips")