header.branding
  div
    nav
      span
        a(href="/") Marissa Epstein
      ul
        li
          a(href="/#work") My Work
        li
          a(href="/about") Me

    .welcome
      h1 BRANDING™
      p Here's a collection of some stand-alone branding projects.

section.brands
  table
    tbody
      tr
        td
          img(src="/img/b17-wemake.jpg", alt="We Make", title="We Make")
        td
          img(src="/img/b18-zoom.jpg", alt="Zoom the Balloon", title="Zoom the Balloon")
      tr
        td
          img(src="/img/b1_mojo.jpg", alt="MojoTech", title="MojoTech")
        td
          img(src="/img/b2_sze.jpg", alt="SZE Architects", title="SZE Architects")
      tr
        td
          img(src="/img/b3_rrp.jpg", alt="Rrp", title="Rrp")
        td
          img(src="/img/b4_wheather.jpg", alt="Wheather", title="Wheather")
      tr
        td
          img(src="/img/b5_pawsitive.jpg", alt="Pawsitive Partners", title="Pawsitive Partners")
        td
          img(src="/img/b6_yarnia.jpg", alt="Yarnia", title="Yarnia")
      tr
        td
          img(src="/img/b7_allaboard.jpg", alt="All Aboard", title="All Aboard")
        td
          img(src="/img/b8_firstfive.jpg", alt="First Five", title="First Five")
      tr
        td
          img(src="/img/b9_samexhibit.jpg", alt="SamExhibit", title="SamExhibit")
        td
          img(src="/img/b10_amazing.jpg", alt="Amazing Things", title="Amazing Things")
      tr
        td
          img(src="/img/b11_munimark.jpg", alt="MuniMark", title="MuniMark")
        td
          img(src="/img/b12_coenbrothers.jpg", alt="Coen Brothers", title="Coen Brothers")
      tr
        td
          img(src="/img/b13_spmh.jpg", alt="Music Hall", title="Music Hall")
        td
          img(src="/img/b14_harmony.jpg", alt="Harmony", title="Harmony")
      tr
        td
          img(src="/img/b15_oink.jpg", alt="Oink", title="Oink")
        td
          img(src="/img/b16_octopus.jpg", alt="Octopus", title="Octopus")
